/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* .ui-datatable-data> tr> td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
  } */

  /* .ui-table table {
    table-layout:auto !important;
} */

body .ui-table .ui-table-tbody > tr > td {
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px; */
}